
.footer{
    margin-top: 20px;
background: #FFF;
    width: 1200px;
    margin: auto;
    padding-bottom: 10px;
}
.container_footer{
    width: 100%;
}
.lienket{
    /* background: whitesmoke; */
    width: 100%;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 10px;
}
.lienket ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
}
.lienket ul li a img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.box_footer ul li a:hover{
    color: green;
}
.row_footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top:10px
}
.box_footer2{
    flex-basis: 40%;
    display: block;
}
.container_footer .box_footer2 .title1{
    border-bottom: 2px solid red;
    color: black;
    padding-bottom: 16px;
   padding-left: 20px
}
.box_footer2 ul{
    display: block;
    list-style: none;
    padding: auto;
    list-style-type: none;
margin-top: 10px;
}
.box_footer2 ul li a{
    text-decoration: none;
    color: black;
}
.box_footer2 img{
    width: 20px;
    height: 20px;
}
.box_footer{
    flex-basis: 20%;
    display: block; 
}
.container_footer .box_footer .title{ 
    border-bottom: 2px solid red ;
    color: black;
}
.box_footer ul li a img{
    width: 20px;
    height: 20px;
}
.box_footer ul{
    display: block;
    list-style: none;
    padding: auto;
    list-style-type: none;
margin-top: 10px;
}
.box_footer ul li a{
    text-decoration: none;
    color: black;
}
.box_footer1{
    background: rgb(252, 252, 252);
    flex-basis: 50%;
    padding-top: 5px;
}
.box_footer1 span a{
    color: rgb(0, 119, 255);
    text-decoration: none;
}
.box_footer1 span a:hover{
    color: green;

}
@media  screen and (max-width:900px) {
    .container_footer{
        margin-left: 0;
    }
    .box_footer{
        flex-basis: 100%;
    }
    .footer{
        width: 100%;
        text-align:center;
    }
    .background_footer{
        max-width: 1200px;
    }
    .box_footer1{
        flex-basis: 100%;
    }
    .background_footer{
        max-width: 1200px;
    }
    .box_footer2{
        flex-basis: 100%;
    }
}
@media  screen and (max-width:600px) {
    .box_footer{
        flex-basis:100%;
    }
    .box_footer1{
        flex-basis:100%;
    }
    .lienket{
        flex-basis: 100%;
    }
    .box_footer2{
        flex-basis: 100%;
    }
}

