* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-giohang {
    max-width:1200px;
    background: #FFF;
    margin: 0 auto;
    margin-top: 10px;
}
.wrapper-giohang{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.item-giohang-left{
    width:70%
}
.item-giohang-right{
    width:30%;
    background:blue;

}
.giohang{
    /* background: gray; */
    width: 100%;
    padding-left:10px;
    padding-top:10px;
}
