* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kh-container {
    /* width: 950px; */
    /* height: 600px; */
    /* margin-left: 270px; */
    background-color: whitesmoke;
  
}

.kh-main {
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 850px;
    background-color: white;
    margin: 0 65px;
}

.kh-title {
    text-align: center;
    margin-top: 10px;
}

.kh-timkiem {
    margin-top: 20px;
    float: right;
    margin-right: 90px;
}

.kh-timkiem input {
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 15px;
    height: 30px;
    border: 1px solid #ccc;
}

.kh-timkiem #kh-tk-btn {
    background-color: violet;
    color: white;
}

.kh-timkiem #kh-tk-btn:hover {
    background-color: burlywood;
}

.kh-content {
    margin-top: 80px;
    margin-bottom: 20px;
}

.kh-content table {
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

.kh-content table th,
.kh-content table td {
    padding: 10px 10px;
    border: 1px solid black;
}

.kh-content .kh-btn {
    background-color: cadetblue;
    width: 40px;
    height: 25px;
    border: none;
}

.kh-content .kh-btn:hover {
    background-color: thistle;
}

.kh-content .kh-btn a {
    text-decoration: none;
    color: white;
}