* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lsp-container {
    /* width: 500px;
    height: 600px; */
    /* margin-left: 270px; */
    background-color: whitesmoke;
}

.lsp-main {
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 850px;
    background-color: white;
    margin: 0 65px;
}

.lsp-title {
    text-align: center;
    margin-top: 10px;
}

.lsp-timkiem {
    margin-top: 35px;
    float: left;
    margin-left: 100px;
}

.lsp-timkiem input {
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 15px;
    height: 30px;
    border: 1px solid #ccc;
}

.lsp-timkiem #lsp-tk-btn {
    background-color: cadetblue;
    color: white;
}

.lsp-timkiem #lsp-tk-btn:hover {
    background-color: thistle;
}

.lsp-content {
    margin-top: 90px;
    margin-bottom: 20px;
    /* margin-left: 30px; */
}

.lsp-content table {
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

.lsp-content table th,
.lsp-content table td {
    padding: 10px 30px;
    border: 1px solid black;
}

.lsp-content table tr img {
    width: 50px;
    
}

.lsp-them {
    margin-top: 15px;
    float: right;
    margin-right: 100px;
}

.lsp-them button {
    padding: 5px;
    background-color: violet;
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.lsp-them button:hover {
    background-color: lightblue;
}

.lsp-content .lsp-cn-btn {
    background-color: cadetblue;
    width: 80px;
    height: 25px;
    border: none;
}

.lsp-content .lsp-xoa-btn {
    background-color: cadetblue;
    width: 60px;
    height: 25px;
    border: none;
}

.lsp-content .lsp-cn-btn:hover,
.lsp-content .lsp-xoa-btn:hover {
    background-color: thistle;
}

.lsp-them a,
.lsp-content .lsp-cn-btn a,
.lsp-content .lsp-xoa-btn a {
    text-decoration: none;
    color: white;
}