*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    margin: 0 auto;
    background: #EEEEEE;
    margin-top: 150px;
    max-height: 100vh;
}
.form-login{
    text-align: center;
    width: 100%;
}
.form-login h1{
    background: #FFF;
    padding-top: 10px;
}
.form-login table{
    /* background: chocolate; */
    margin-left: 100px;
    margin-top: 10px;
    font-size: 20px;
}
.form-login .button{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    background: #B9D3EE;
}
.form-login .button input{
    font-size: 17px;
    border-radius: 8px;
    width: 50px;
    margin-top: 7px;
    margin-left: 400px;
}